#header{
    display:flex;
    justify-content:space-between;
    top:0px;
    position:fixed;
    width:100%;
    background-color:	grey;
  }
  #one{
    font-family:Cursive;
    font-size:40px;
    display:flex;
    color:#FFFF66; 
  }
  
  #header-img{
    width:8%;
    padding-left:8%;
  }
  #nav-bar{
    font-family:cursive;
    font-size:20px;
  }
  body{
    text-align:center;
    margin-top:100px;
    padding-top:100px;
    background-color:#FFFFF0;
    font-family:Georgia, serif;
  }
  @media screen and (max-width: 992px) {
    a {
      font-size:10px;
    }
    body{
      margin-top:100px;
    }
  }
    a{
      color:white;
    }
    a:hover{
      color:pink;
    }
  #cat1, #cat2, #cat3, #cat4{
    display:flex;
     margin-left: auto;
      margin-right: auto;
      width: 30em;
    text-align:left;
    margin-top:20px;
  }
  p1{
    padding-left:20px;
  }
  #categories{
    margin-top:100px;
  }